@import url('https://fonts.googleapis.com/css?family=Abel');

body{
    background-color:   rgba(223, 217, 45, 0.2);
    font-size: 1.2em;
    font-family:'Abel', sans-serif;
}

header{
    text-align: center;
}
#description{
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    color:#707070 ;
}
#description , #title{
    color:#707070 ;
    margin: 0;
}

#title , #span{
    text-align:center;
    
    font-style: italic;
    font-weight:bolder;
    font-size: 50px;
}
span{
    color:  rgba(199, 45, 223);
}

#main-container{

    
    width: 80%;
    height: auto;
    margin: 50px auto;
    background-color:white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 
    1px rgba(199, 45, 223, 0.67);
    
}
#child-container{

    margin: 0 20px 20px  20px ;
    background-color: rgba(223, 217, 45, 0.2);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 1px rgba(176, 174, 177, 0.729);
      
}

#survey-form{

    margin: 0 auto;
    width: 80%;
    padding: 10px;
}



.lables{
    display:inline-block;
    text-align: right;
    width: 40%;
    vertical-align: top;
    margin-top: 20px;
}

.input-tab{

    display:inline-block;
    text-align: left;
    width: 50%;
    margin-left: 10px;
}

.input-field {

    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 18px 0 0 10px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    font-weight: lighter;
    box-shadow: 2px 2px 10px 
    1px rgba(199, 45, 223, 0.5);

  }

  

#dropdown{

    width: 102.5%;
    padding: 5px;
    margin: 20px 0 10px 10px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    background-color: white;
    box-shadow: 2px 2px 10px 
    1px rgba(199, 45, 223, 0.5);

  }
  
.btn{
      text-align: center;
      margin-top: 40px;
  }
 

#submit{
    
        border: none;
        background: rgb(198, 10, 227);
        background: linear-gradient(0deg, rgba(199, 15, 228, 0.8) 0%, rgba(170, 12, 194, 0.5) 100%);
        color: #fff;
        overflow: hidden;
        width: 130px;
        height: 40px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
  
  }

#submit:hover{

    opacity: 0.8;
    transform: scale(1.1);
    
}

input[type="radio"] {

	accent-color:rgb(198, 10, 227) ;
   
}

input[type="checkbox"] {

	accent-color:rgb(198, 10, 227) ;
    
}

